<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.tution.thilini.tution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.Editors.Edit_Student"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Editors.Edit_Teacher"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Sign_In"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Editors.Assign_Class_To_Teacher"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Viewers.View_Students"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Viewers.View_Teachers"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Viewers.QR_Viewer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Home_Pages.Home"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Home_Pages.Home_Student"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Home_Pages.Home_Teacher"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Viewers.View_Classes_By_Teacher"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Editors.Assign_Classes_To_Student"
            android:screenOrientation="landscape" />
        <activity android:name=".Activities.Viewers.View_Attendance_Class_Wise"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".Activities.Home_Pages.Home_Reports"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activities.Home_Pages.Home_Attendance"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activities.Viewers.View_Attendance_Class_Wise_Count"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.Editors.Edit_Payments"
            android:screenOrientation="landscape" />

        <activity
            android:name=".Activities.Viewers.View_Payments_Class_Wise"
            android:screenOrientation="landscape" />

    </application>

</manifest>